<div class="p-grid">
    <div class="p-col-12">
        <h4 class="text-primary rs">Cónyuge</h4>
    </div>
    <div class="p-col-12 p-md-6 p-xl-4">
        <div class="p-field">
            <label for="conyugueDocumento">Nro. de documento</label>
            <input [(ngModel)]="familiares.conyuge.nroDocumento" id="conyugueDocumento" type="text" pInputText/>
        </div>         
    </div>
    <div class="p-col-12 p-md-6 p-xl-4">
        <div class="p-field">
            <label for="conyugueNombre">Nombre</label>
            <input [(ngModel)]="familiares.conyuge.nombre" id="conyugueNombre" type="text" pInputText/>
        </div>         
    </div>
    <div class="p-col-12 p-md-6 p-xl-4">
        <div class="p-field">
            <label for="conyugueFechaNac">Fecha Nac.</label>
            <input [(ngModel)]="familiares.conyuge.fechaNacimiento" id="conyugueFechaNac" type="date" pInputText/>
        </div>         
    </div>
    <div class="p-col-12">
        <div class="p-d-flex p-ai-center">
            <h4 class="text-primary rs p-mr-2">Hijos ({{familiares.hijos.length}})</h4>
            <button (click)="agregarHijoModal=true" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary"></button>
        </div>
    </div>
    <div class="p-col-12" [hidden]="familiares.hijos.length == 0">
        <div class="p-d-none p-d-md-block">
            <p-table [value]="familiares.hijos" >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-secondary">Documento</th>
                        <th class="text-secondary">Nombre</th>
                        <th class="text-secondary">Fecha de nacimiento</th>
                        <th class="p-text-center text-secondary">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hijo let-i="index">
                    <tr>
                        <td>{{hijo.nroDocumento}} {{i}}</td>
                        <td>{{hijo.nombre}}</td>
                        <td>{{hijo.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                        <td class="p-text-center">
                            <button (click)="deleteHijo(hijo)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"></button>
                            <!-- <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button> -->
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="p-d-block p-d-md-none">
            <p-table [value]="familiares.hijos" >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-secondary">Nombre</th>
                        <th class="p-text-center text-secondary">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hijo let-i="index">
                    <tr>
                        <td>{{hijo.nombre}} ({{hijo.nroDocumento}})</td>
                        <td class="p-text-center">
                            <button (click)="deleteHijo(hijo)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="p-col-12">
        <div class="p-d-flex p-jc-end">
            <button (click)="guardarDatos()" class="p-button-secondary" pButton type="button" icon="pi pi-check" iconPos="left" label="Guardar Datos"></button>
        </div>
    </div>
</div>

<p-dialog [draggable]="false" [modal]="true" [closable]="true" [dismissableMask]="true" header="Agregar Hijo" [(visible)]="agregarHijoModal">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="p-field">
                <label for="addHijoDocumento">Nro. de documento</label>
                <input [(ngModel)]="hijoModal.nroDocumento" id="addHijoDocumento" type="text" pInputText/>
            </div>         
        </div>
        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="p-field">
                <label for="addHijoNombre">Nombre</label>
                <input [(ngModel)]="hijoModal.nombre" id="addHijoNombre" type="text" pInputText/>
            </div>         
        </div>
        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="p-field">
                <label for="addHijoFechaNac">Fecha Nac.</label>
                <input [(ngModel)]="hijoModal.fechaNacimiento" id="addHijoFechaNac" type="date" pInputText/>
            </div>         
        </div>
        <div class="p-col-12 p-jc-end">
            <div class="p-d-flex p-jc-end">
                <button (click)="agregarHijo()" class="p-button-secondary p-mr-2" pButton type="button" icon="pi pi-plus" iconPos="left" label="Agregar"></button>
                <button (click)="closeAgregarHijo()" class="p-button-primary" pButton type="button" icon="pi pi-times" iconPos="left" label="Cancelar"></button>
            </div>
        </div>
    </div>
</p-dialog>