<ngx-ui-loader [fgsType]="SPINNER.ballScaleMultiple" [bgsColor]="'#64B5F6'" [fgsColor]="'#64B5F6'" [pbColor]="'#64B5F6'"
    [overlayColor]="loaderback"></ngx-ui-loader>


<p-menubar [model]="items" [styleClass]="'nav-sticky p-shadow-1'">
    <img src="assets/img/personal-blanco.png" alt="Personal" style="width: 110px;height:auto;">
</p-menubar>
<div class="container p-my-2">
    <router-outlet></router-outlet>
</div>
<p-dialog id="userModal" position="left" [(visible)]="displayUserModal" [dismissableMask]="true" [draggable]="false"
    [header]="personaActualizacion?.personaNombres + ' ' + personaActualizacion?.personaApellidos" [modal]="true">
    <div class="p-grid">
        <div class="p-col-12">
            <i class="pi pi-id-card p-mr-2 text-primary"></i>{{personaActualizacion?.personaDocumento}}
        </div>
        <div class="p-col-12">
            <i class="pi pi-user p-mr-2 text-primary"></i>{{personaActualizacion?.usuario}}
        </div>
        <div class="p-col-12">
            <i class="pi pi-phone p-mr-2 text-primary"></i>{{personaActualizacion?.celularAD}}
        </div>
        <div class="p-col-12">
            <i class="pi pi-envelope p-mr-2 text-primary"></i>{{personaActualizacion?.emailLaboral}}
        </div>
        <div class="p-col-12">
            <i class="pi pi-sitemap p-mr-2 text-primary"></i>{{personaActualizacion?.cargo}}
        </div>
        <div class="p-col-12">
            <h4 class="p-mt-0">Superior Inmeadiato</h4>
            <p-avatar icon="pi pi-user" shape="circle" class="p-mr-2"></p-avatar>{{personaActualizacion.superior}}
        </div>
    </div>
</p-dialog>
<p-scrollTop></p-scrollTop>
<p-toast styleClass="toast-responsive" key="mensajes" position="bottom-left"></p-toast>