<div class="login-container" [ngStyle]="{backgroundColor:'#17212f'}">
    <div class="p-grid p-ai-center">
        <div class="p-sm-12 p-md-8 p-md-offset-2 p-lg-6 p-lg-offset-3">
            <p-card id="login" [styleClass]="'p-shadow-1 p-d-block p-d-md-none'">
                <div class="p-grid">
                    <div class="p-col-10 p-offset-1">
                        <div class="p-d-flex p-flex-column p-jc-center p-ai-center w-100">
                            <img src="assets/img/personal-blanco.png" alt="Personal" style="width: 110px;height:auto;">
                            <p class="rs titulo text-primary p-text-center p-text-bold" style="margin-bottom: 0;">RRHH</p>
                            <p class="rs titulo text-primary p-text-center" style="margin-top: 0;">Actualización de datos</p>
                        </div>  
                    </div>
                    <div class="p-col-10 p-offset-1">
                        <div class="p-field">
                            <span class="p-input-icon-left w-100">
                                <i class="pi pi-user"></i>
                                <input [(ngModel)]="key.usuario" class="w-100" type="text" pInputText placeholder="Usuario">         
                            </span>
                        </div>
                    </div>
                    <div class="p-col-10 p-offset-1">
                        <div class="p-field">
                            <span class="p-input-icon-left w-100">
                                <i class="pi pi-key"></i>
                                <input [(ngModel)]="key.clave" (keyup.enter)="login()" class="w-100" type="password" pInputText placeholder="Contraseña">         
                            </span>
                        </div>
                    </div>
                    <div class="p-col-10 p-offset-1">
                        <button [class.disabled]="loading" (click)="login()" class="block rs" [ngStyle]="{backgroundColor:'var(--primary-color)'}">
                            <span class="p-mr-2" [hidden]="!loading"><i class="pi pi-spin pi-spinner"></i></span><span [hidden]="loading">INGRESAR</span>
                        </button>
                    </div>
                </div>
            </p-card>
            <p-card id="login" [styleClass]="'p-shadow-1 p-d-none p-d-md-block'">
                <p-splitter>
                    <ng-template>
                        <div class="p-grid login-form">
                            <div class="p-col-12 p">
                                <div class="p-field">
                                    <span class="p-input-icon-left w-100">
                                        <i class="pi pi-user"></i>
                                        <input [(ngModel)]="key.usuario" class="w-100" type="text" pInputText placeholder="Usuario">         
                                    </span>
                                </div>
                            </div>
                            <div class="p-col-12 p">
                                <div class="p-field">
                                    <span class="p-input-icon-left w-100">
                                        <i class="pi pi-key"></i>
                                        <input [(ngModel)]="key.clave" (keyup.enter)="login()" class="w-100" type="password" pInputText placeholder="Contraseña">         
                                    </span>
                                </div>
                            </div>
                            <div class="p-col-12 p">
                                <button [ngStyle]="{backgroundColor:'var(--primary-color)'}" [class.disabled]="loading" (click)="login()" class="block rs">
                                    <span class="p-mr-2" [hidden]="!loading"><i class="pi pi-spin pi-spinner"></i></span><span [hidden]="loading">INGRESAR</span>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template>
                        <div class="p-d-flex p-flex-column p-jc-center p-ai-center w-100">
                            <img src="assets/img/personal-blanco.png" alt="Personal" style="width: 110px;height:auto;">
                            <p class="pp titulo text-primary p-text-center p-mb-0">Actualización de datos - RRHH</p>
                            <p class="pp titulo text-primary p-text-center p-my-0"><small>Aquí podés actualizar tus datos personales y laborales</small></p>
                        </div>                        
                    </ng-template>
                </p-splitter>
            </p-card>
        </div>
    </div>
</div>
<p-toast styleClass="toast-responsive">></p-toast>
<!-- <div class="container"></div>-->