.login-container {
    height: 100vh;
    // background-color: #9C27B0;
    padding: 2rem;
}

.login-container .p-grid {
    height: 100%;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 24px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    color: white;
    outline: none;
}

.block:hover {
    opacity: 0.75;
}

.login-form {
    width: 70%;
    margin: auto
}
