.foto-perfil {
    cursor: pointer;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #17212f;
}

.foto-perfil-show {
    max-width: 50%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
}