<div class="p-grid">
    <div class="p-col-12" [hidden]="personaModel.documento == null">
        <div class="p-d-none p-d-md-flex">
            <div class="p-mr-2">
                <p-avatar size="large" label="{{inicialesPersona}}" shape="circle"></p-avatar>
            </div>
            <div class="p-mr-2">
                <h3 class="p-my-0 ff p-text-uppercase">{{personaModel.nombres}} {{personaModel.apellidos}}</h3>
                <h5 class="p-my-0 ff p-text-light p-text-uppercase">{{personaActualizacion.cargo}}</h5>
            </div>
        </div>
        <div class="p-d-flex p-jc-center p-ai-center p-flex-column p-d-md-none">
            <!-- <p-avatar id="user-avatar" label="{{inicialesPersona}}" shape="circle"></p-avatar> -->
            <h4 class="p-my-0 text-center ff p-text-uppercase p-text-normal">{{personaModel.nombres}} {{personaModel.apellidos}}</h4>
            <h6 class="p-my-0 text-center ff p-text-light p-text-uppercase">{{personaActualizacion.cargo}}</h6>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-xl-4">
        <div class="p-d-flex p-jc-center p-ai-center p-flex-column" style="height: 100%;">
            <img class="foto-perfil p-shadow" (click)="verFoto=true"
                src="{{personaModel?.foto != null? personaModel.foto:'assets/img/user.png'}}" alt="User">
            <input (change)="onChangeFileSelector($event.target.files)" style="display: none;" type="file"
                name="profile-picker" id="profile-picker">
            <span class="p-buttonset p-mt-1">
                <button (click)="openFileSelector()" pButton class="p-button-outlined p-button-sm" type="button"
                    label="Seleccionar" icon="pi pi-image"></button>
                <button (click)="eliminarFoto()" pButton class="p-button-outlined p-button-sm" type="button"
                    label="Eliminar" icon="pi pi-trash"></button>
            </span>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-xl-8">
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-xl-4">
                <div class="p-field">
                    <label for="apellidos">Fecha de nac. (<span>*</span>)</label>
                    <input [(ngModel)]="personaModel.fechaNacimiento" id="apellidos" type="date" pInputText />
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-xl-4">
                <div class="p-field drop">
                    <label for="sexo">Sexo (<span>*</span>)</label>
                    <p-dropdown [(ngModel)]="personaModel.sexo" placeholder="Selecionar sexo" id="sexo"
                        [options]="sexos" optionLabel="name" optionValue="value"></p-dropdown>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-xl-4">
                <div class="p-field drop">
                    <label for="estadoCivil">Estado civil (<span>*</span>)</label>
                    <p-dropdown [(ngModel)]="personaModel.estadoCivil" placeholder="Selecionar estado civil"
                        id="estadoCivil" [options]="estadosCiviles" optionLabel="name" optionValue="name"></p-dropdown>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-xl-4">
                <div class="p-field drop">
                    <label for="nacionalidad">Nacionalidad (<span>*</span>)</label>
                    <p-dropdown [(ngModel)]="personaModel.nacionalidad" [filter]="true"
                        placeholder="Selecionar nacionalidad" id="nacionalidad" [options]="nacionalidades"
                        optionLabel="nacionalidad" optionValue="nacionalidad">
                    </p-dropdown>
                </div>
            </div>
            <div class="p-col-12 p-xl-4">
                <div class="p-field">
                    <label for="email">Email particular (<span>*</span>)</label>
                    <input [(ngModel)]="personaModel.email" id="email" type="email" pInputText />
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-xl-4">
                <div class="p-field">
                    <label for="telefono">Teléfono interno</label>
                    <input [(ngModel)]="personaModel.telefono" id="telefono" type="text" pInputText />
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-xl-4">
                <div class="p-field drop">
                    <label for="oficina">Oficina (<span>*</span>)</label>
                    <p-dropdown [(ngModel)]="personaModel.oficina" [filter]="true" placeholder="Selecionar oficina" id="oficina"
                        [options]="oficinas" optionLabel="nombre" optionValue="id">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12">
        <div class="p-d-flex p-jc-end">
            <button (click)="guardarDatos()" class="p-button-primary" pButton type="button" icon="pi pi-check"
                iconPos="left" label="Guardar Datos"></button>
        </div>
    </div>
</div>
<p-sidebar [styleClass]="'bg-black'" [(visible)]="verFoto" [fullScreen]="true" [blockScroll]="true">
    <div *ngIf="personaModel.foto != null" class="p-d-flex p-jc-center p-ai-center my-auto"
        style="width: 100%;height: 90vh;">
        <img src="{{personaModel.foto}}" alt="Foto perfil" class="foto-perfil-show">
    </div>
    <div *ngIf="personaModel.foto == null" class="p-d-flex p-jc-center p-ai-center p-flex-column"
        style="width: 100%;height: 90vh;">
        <p-avatar icon="pi pi-image" size="xlarge" shape="circle"></p-avatar>
        <button (click)="openFileSelector();verFoto=false;" class="p-mt-4" pButton type="button"
            label="Seleccionar foto" icon="pi pi-plus"></button>
    </div>
</p-sidebar>