<div class="p-grid">
    <div class="p-col-12 p-md-6 p-xl-5">
        <div class="p-field">
            <label for="callePrincipal">Calle Principal (<span>*</span>)</label>
            <input [(ngModel)]="domicilio.callePrincipal" id="callePrincipal" type="text" pInputText/>
        </div>         
    </div>
    <div class="p-col-12 p-md-6 p-xl-5">
        <div class="p-field">
            <label for="calleSecundaria">Calle Secundaria</label>
            <input [(ngModel)]="domicilio.calleSecundaria" id="calleSecundaria" type="text" pInputText/>
        </div>         
    </div>
    <div class="p-col-12 p-md-6 p-xl-2">
        <div class="p-field">
            <label for="nroCasa">Nro. de casa</label>
            <input (focusout)="checkNroCasa($event)" [(ngModel)]="domicilio.nroCasa" id="nroCasa" type="number" min="0" pInputText/>
        </div>         
    </div>
    <div class="p-col-12 p-md-6 p-xl-4">
        <div class="p-field">
            <label for="ebp">Referencia</label>
            <input [(ngModel)]="domicilio.ebp" id="ebp" type="text" pInputText/>
        </div>         
    </div>
    <div class="p-col-12 p-md-6 p-xl-4">
        <div class="p-field drop">
            <label for="ciudad">Ciudad (<span>*</span>)</label>
            <p-dropdown (onChange)="changeCiudad()" [(ngModel)]="domicilio.ciudad" [filter]="true" placeholder="Seleccione ciudad" id="ciudad" 
            [options]="ciudades" optionLabel="ciudad" optionValue="ciudad" [style]="{'width': '100%'}"></p-dropdown>
        </div>         
    </div>
    <div class="p-col-12 p-md-6 p-xl-4">
        <div class="p-field">
            <label for="barrio">Barrio (<span>*</span>)</label>
            <input [(ngModel)]="domicilio.barrio" id="barrio" type="text" pInputText/>
        </div>         
    </div>
    <div class="p-col-12">
        <p-messages class="p-d-none p-d-md-block" [(value)]="mensajes" [closable]="false"></p-messages>
        <p-card styleClass="p-d-block p-d-md-none bg-dark">
            <div class="p-d-flex p-jc-center">
                <button pButton pRipple type="button" icon="pi pi-home" class="p-button-rounded p-button-outlined"></button>
            </div>
            <p class="text-primary p-text-bold p-text-center" style="margin-top: 0;">Ubicación de domicilio</p>
            Arrastre el marcador azul a la correspondiente ubicación de su domicilio
        </p-card>
    </div>
    <div class="p-col-12">
        <div class="p-shadow-1" id="locationPicker" style="width: 100%; height: 350px;"></div>
    </div>
    <div class="p-col-12">
        <div class="p-d-flex p-jc-end">
            <button (click)="guardarDatos()" class="p-button-primary" pButton type="button" icon="pi pi-check" iconPos="left" label="Guardar Datos"></button>
        </div>
    </div>
</div>