<div class="p-grid">
    <div class="p-col-12">
        <p-messages class="p-d-none p-d-md-block" [(value)]="mensajes" [closable]="true"></p-messages>
    </div>
    <div class="p-col-12">
        <p-fieldset [styleClass]="'p-shadow-1'" legend="Datos personales y laborales" [toggleable]="true">
            <app-datos-personales></app-datos-personales>
        </p-fieldset>
    </div>
    <div class="p-col-12">
        <p-fieldset [styleClass]="'p-shadow-1'" legend="Datos de domicilio" [toggleable]="true">
            <app-datos-domicilio></app-datos-domicilio>
        </p-fieldset>
    </div>
    <!-- <div class="p-col-12">
        <p-fieldset [styleClass]="'p-shadow-1'" legend="Datos familiares" [toggleable]="true">
            <app-datos-familiares [p]="persona"></app-datos-familiares>
        </p-fieldset>
    </div> -->
    <div class="p-col-12">
        <p-fieldset [styleClass]="'p-shadow-1'" legend="Archivos" [toggleable]="true">
            <app-datos-archivos></app-datos-archivos>
        </p-fieldset>
    </div>
</div>