/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #17212f;
}

.bg-dark {
    background-color: #17212f;
}

.rs {
    font-family: 'Roboto Slab', serif;
}

.p-field input {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

.nav-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

#login .p-splitter, #familiares .p-splitter {
    border: none;
    height: 100%;
}

#login {
    width: 55vw;
}

.disabled {
    pointer-events: none;
    opacity: 0.75;
}

label span {
    color: #bf0000;
}

.leaflet-touch, .leaflet-touch .leaflet-bar a {
    z-index: 998 !important;
}

.toast-responsive {
    width: 40vw !important;
}

.p-dropdown {
    width: 100% !important;
}

.p-dialog {
    width: 35vw;
}
@media screen and (max-width: 768px) {
    .p-dialog {
        width: 95vw;
    }
    .toast-responsive {
        width: 80vw !important;
    }

    .p-dropdown .p-dropdown-panel {
        min-width: 100%;
        max-width: 70vw !important;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item, .p-dropdown-label {
        white-space: normal !important;
    }
}

.text-center {
    text-align: center;
}

.ff {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.text-primary {
    color: #64b5f6;
}
// .p-avatar {
//     background-color:#64b5f6 !important;
//     color: #17212f !important;
// }