<div class="p-grid">
    <!-- <div class="p-col-12">
        <div class="p-d-flex p-ai-center">
            <h4 class="text-primary rs p-mr-2">Subir archivo ({{archivos.length}})</h4>
            <button *ngIf="archivos.length <= 1" (click)="openFileSelector()" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary"></button>
            <input (change)="onChangeFileSelector($event.target.files)" type="file" style="display: none;" id="file-selector">
        </div>
    </div> -->
    <div class="p-col-12">
        <p-messages class="p-d-none p-d-md-block" [(value)]="mensajes" [closable]="false"></p-messages>
        <p-card styleClass="p-d-block p-d-md-none bg-dark">
            <div class="p-d-flex p-jc-center">
                <button pButton pRipple type="button" icon="pi pi-image" class="p-button-rounded p-button-outlined"></button>
            </div>
            <p class="text-primary p-text-bold p-text-center" style="margin-top: 0;">Adjunte imágenes de su documento de identidad</p>
            Formatos permitidos PNG, JPEG, JPG. Tamaño máximo 2MB.
        </p-card>
    </div>
    <div class="p-col-12">
        <div class="p-d-none p-d-md-flex">
            <div class="p-mr-2">
                <input (change)="onChangeFileSelectorFrontal($event.target.files)" type="file" style="display: none;" id="file-selector-f">
                <button (click)="openFileSelectorFrontal()" pButton type="button" icon="pi pi-image" label="Subir foto frontal" class="p-button-outlined"></button>
            </div>
            <div class="p-mr-2">
                <input (change)="onChangeFileSelectorDorsal($event.target.files)" type="file" style="display: none;" id="file-selector-d">
                <button (click)="openFileSelectorDorsal()" pButton type="button" icon="pi pi-image" label="Subir foto dorsal" class="p-button-outlined"></button>
            </div>
        </div>
        <div class="p-d-flex p-d-md-none">
            <div class="text-center">
                <button (click)="openFileSelectorFrontal()" pButton type="button" icon="pi pi-image" label="Subir foto frontal" class="p-button-outlined p-mx-1 p-mb-2"></button>
                <button (click)="openFileSelectorDorsal()" pButton type="button" icon="pi pi-image" label="Subir foto dorsal" class="p-button-outlined p-mx-1 p-mb-2"></button>
            </div>
        </div>
    </div>
    <div class="p-col-12" [hidden]="archivos.length == 0">
        <div class="p-d-none p-d-md-block">
            <p-table [value]="archivos">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-secondary">Nombre</th>
                        <th class="text-secondary">Tipo</th>
                        <th class="p-text-center text-secondary">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-archivo let-i="index">
                    <tr>
                        <td>
                            <button (click)="showFoto(archivo)" pButton pRipple type="button" label="{{archivo.nombre}}" class="p-button-text"></button>
                        </td>
                        <td>
                            {{archivo.tipo}}
                        </td>
                        <td class="p-text-center">
                            <button (click)="deleteArchivo(archivo)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"></button>
                            <button (click)="descargarArchivo(archivo)" pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-secondary p-mr-2"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="p-d-block p-d-md-none">
            <p-table [value]="archivos">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-secondary">Nombre</th>
                        <th class="p-text-center text-secondary">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-archivo let-i="index">
                    <tr>
                        <td>
                            <a (click)="showFoto(archivo)" class="text-primary">{{archivo.nombre}}</a>
                        </td>
                        <td class="p-text-center">
                            <button (click)="deleteArchivo(archivo)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="p-col-12">
        <div class="p-d-flex p-jc-end">
            <button (click)="guardarDatos()" class="p-button-primary" pButton type="button" icon="pi pi-check" iconPos="left" label="Guardar Datos"></button>
        </div>
    </div>
</div>

<p-sidebar [styleClass]="'bg-black'" [(visible)]="verFoto" [fullScreen]="true" [blockScroll]="true">
    <div *ngIf="targetFoto!= null" class="p-d-flex p-jc-center p-ai-center my-auto"
        style="width: 100%;height: 90vh;">
        <img src="{{targetFoto}}" alt="Foto perfil" class="foto-perfil-show">
    </div>
</p-sidebar>